click==6.6
Flask==0.11.1
Flask-WTF==0.12
gspread==0.4.1
gunicorn==19.7.1
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
python-engineio==2.0.2
python-socketio==1.8.4
requests==2.11.1
six==1.11.0
Werkzeug==0.11.11
WTForms==2.1
