<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://files.codepedia.info/files/uploads/iScripts/html2canvas.js"></script>
</head>
<body>
    <legend>Argument card addition</legend>
    <br>
	
   
    
	<textarea  id="content" rows="4" cols="50">
At w3schools.com you will learn how to make a website. We offer free tutorials in all web development technologies.
</textarea>
	<br>
    
    <input id="submit" type="submit" value="Submit">
  
  
    
	<input id="btn-ClearAll" type="button" value="Reset"/>
	
	<br/>
	
    <h3>Card to save: <input id="btn-Preview-Image" type="button" value="Add Card to Puzzle"/> <input  id="btn-Clear" type="button" value="Clear"/> </h3>
	
    <div id="save" style="height: 150px;
    width: 150px; border-style:solid; background-color:white;">
    </div>
	
	    <h3>Preview Scheme Puzzle Image: <input id="btn-Final" type="button" value=" Create Final Puzzle Image"/></h3>
    <div id="previewImage">
    </div>
	<br>
	
	<h3>Final Scheme Puzzle Image: </h3> 

	
   <!-- <form action = "http://localhost:5000/data" method = "POST" 
         enctype = "multipart/form-data"> -->

	<div id="previewFinal">
    	</div>
	<!-- <input name="newData" id="Data" value=""> -->
	<input type = "submit" id="btn-Convert-Html2Image" value= "Download"/>
	
	</form>

	
	
	
<script>
//script to convert selected div to image and to also download div

$(document).ready(function(){

	
var element = $("#save"); // global variable
var getCanvas; // global variable
 //click preview button and img will appear in canvas
    $("#btn-Preview-Image").on('click', function () {
         html2canvas(element, {
         onrendered: function (canvas) {
                $("#previewImage").append(canvas);
                getCanvas = canvas;
             }
         });
    });
	
	


 //clear
    $("#btn-Clear").on('click', function () {
         html2canvas(element, {
         onrendered: function (canvas) {
                $("#save").empty();
             }
         });
    });
	
	
	

	var element2 = $("#previewImage"); // global variable
var gtCanvas; // global variable
 //click preview button and img will appear in canvas
    $("#btn-Final").on('click', function () {
         html2canvas(element2, {
         onrendered: function (canvas) {
                $("#previewFinal").append(canvas);
                gtCanvas = canvas;
             }
         });
    });
	
	
 //clear all
    $("#btn-ClearAll").on('click', function () {
         html2canvas(element, {
         onrendered: function (canvas) {
                $("#previewImage").empty();
             }
         });
    });	
	
	/**function dataURItoBlob(imageData) {
    // convert base64/URLEncoded data component to raw binary data held in a string
    var byteString;
    if (imageData.split(',')[0].indexOf('base64') >= 0)
        byteString = atob(imageData.split(',')[1]);
    else
        byteString = unescape(imageDataI.split(',')[1]);

    // separate out the mime component
    var mimeString = imageData.split(',')[0].split(':')[1].split(';')[0];

    // write the bytes of the string to a typed array
    var ia = new Uint8Array(byteString.length);
    for (var i = 0; i < byteString.length; i++) {
        ia[i] = byteString.charCodeAt(i);
    }

    return new Blob([ia], {type:mimeString});
	}**/
	
	$("#btn-Convert-Html2Image").on('click', function () {
    var imageData = gtCanvas.toDataURL("image/jpg");

	var blob = dataURItoBlob(imageData);

    // Now browser starts downloading it instead of just showing it
   // var newData = imageData.replace(/^data:image\/jpg/, "data:application/octet-stream");
    
	//if (window.console) console.log(newData);
	
	//$('[name= "newData"]').val($(newData));

	//$.post("/data", {"newData": newData});

	 $.ajax({
            type: "POST",
            url: "http://localhost:5000/data",
            enctype: 'multipart/form-data',
            data: {
                file: blob
            },
            success: function () {
                alert("Data Uploaded: ");
            }
        });



	});
	
function dataURItoBlob(imageData) {
    // convert base64/URLEncoded data component to raw binary data held in a string
    var byteString;
    if (imageData.split(',')[0].indexOf('base64') >= 0)
        byteString = atob(imageData.split(',')[1]);
    else
        byteString = unescape(imageDataI.split(',')[1]);

    // separate out the mime component
    var mimeString = imageData.split(',')[0].split(':')[1].split(';')[0];

    // write the bytes of the string to a typed array
    var ia = new Uint8Array(byteString.length);
    for (var i = 0; i < byteString.length; i++) {
        ia[i] = byteString.charCodeAt(i);
    }

    return new Blob([ia], {type:mimeString});
	}

	
$("#submit").click(function () {
    $("#save").append($("#content").val());
});	

});

</script>
</body>
</html>